<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="countoffiles" value="7" />
		<add key="logfilelocation" value="abc.txt" />

		<add key="basePath" value="D:\MGR" />
		<add key="metadataFilePath" value ="HAM10000_metadata.csv" />
		<add key="sourceImagesPath1" value="HAM10000_images_part_1" />
		<add key="sourceImagesPath2" value="HAM10000_images_part_2" />

		<add key="lesionIdColumnName" value ="lesion_id" />
		<add key="imageIdColumnName" value="image_id" />
		<add key="dxColumnName" value="dx" />
		<add key="dxTypeColumnName" value ="dx_type" />
		<add key="ageColumnName" value ="age" />
		<add key="sexColumnName" value ="sex" />
		<add key="localizationColumnName" value="localization" />

		<add key="allImgDir" value="ALL" />
		<add key="trainImgDir" value="TRAIN" />
		<add key="testImgDir" value="TEST" />
	</appSettings>
</configuration>